<%- include("partials/header", { bot, user, path, title: "How to" }) %>

<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h2>Dumb Bot Servers List</h2>
    <p>You Just Have to Add Dumb Bot from button below of Invite Now and Give Permission to Create Invite To Dumb Bot And then use command .setup-list in Any Chat and Done.</p>

     <a class="btn btn-warning" href="/serverslist">Servers List</a>
    <a class="btn btn-warning" href="/support">Discord Server</a>
    <a class="btn btn-warning text-blue" href="/invite">Invite Now</a>
  </div>
</div>

<%- include("partials/footer") %>