<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h2>Dumb Bot Dashboard</h2>
    <p>This is Dumb Bot Dashboard Website.</p>
   <a class="btn btn-secondary text-white" href="/dashboard">Dashboard</a>
     <a class="btn btn-warning text-white" href="/serverslist">Servers List</a>
    <a class="btn btn-warning" href="/support">Discord Server</a>
    <a class="btn btn-warning text-blue" href="/invite">Invite Now</a>
  </div>
</div>

<%- include("partials/footer") %>